<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增相册</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">相册名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">相册描述<span class="check-tips">（长度不超过100字）</span></label>
            <div class="controls">
                <textarea rows="4" cols="60" name='info' placeholder="请输入" class='textarea input-large'></textarea>
            </div>
        </div>
       <div class="form-item">
            <label class="item-label">分类<span class="check-tips"></span></label>
            <div class="controls">
            	<tagLib name="html" />
                <html:select options="leixing" id="" name="type"   />
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>


