<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>
<block name="side">

</block>     

<block name="style">
<link href="__STATIC__/lightbox/css/lightbox.min.css" rel="stylesheet">
<link rel="stylesheet" href="__STATIC__/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<style>
.thumbnails li:hover{border-color:blue;}
.popover{max-width:600px;};

.comment-body a{cursor:pointer;}
.dian-hui a{padding:0 5px;}
.hide-xiangce li:hover{background:#0088CC;color:white;}
.hide-xiangce li{padding:4px;margin:4px;width:180px;cursor:pointer;display:inline-block;}
.xuan{background:#0088CC;color:white;}

</style>
</block>
<block name="body">
   <div>
   	<ul class="breadcrumb">
	  <li><a href="{:U('Index/index')}">首页</a> <span class="divider">/</span></li>
	  <li><a href="{:U('Album/index')}">相册</a> <span class="divider">/</span></li>
	  <li class="active">{$album.name}</li>
	</ul>
   </div>

   <div style="margin:0 0 20px 0 ;">
     <div class="row-fluid">
	    <div class="span6">
	    	  <div style="float:left;">
	    	  <img data-src="holder.js/260x180"  alt="260x180" src="/Uploads{$album.fengmian|default='/none.png'}"  style="width: 100px; height: 100px;">            	         
	    	  </div>  
	    	  <div style="float:left;margin:0 0 0 10px;">

	    	   <h4>{$album.name}</h4>	    	    
	    	   <p>{$album.info}</p>
	    	   <a class="btn btn-primary" href="{:U('album/upload',array('aid'=>$album['id']))}"><i class="icon-plus icon-white"></i>上传照片</a>
		       <button class="btn btn-info"><i class="icon-list icon-white"></i>批量管理</button>
		       <div class="btn-group hide-div" >
					  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">更多			   
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">			   
	                  <li><a href="{:U('album/edit',array('id'=>$album['id']))}"><i class="fa fa-edit"></i>编辑</a></li>
	                  <li><a class="delete-album" data-aid="{$album.id}" href="javascript:;" ><i class="fa fa-trash-o"></i>删除</a></li>
			   </div>  
	    	  </div>         
             
	     
	    </div>
	    <div class="span3 offset3" style=" margin-top: 35px;">
	    <div style="float:right; text-align:right;">
	    			<div>照片数：{$pic_count}</div>
	                <i class="icon-thumbs-up"></i>12
	                <i class="icon-comment"></i>{$comments_count}
	                <p>创建于：{$album.addtime|date='Y-m-d',###}</p>
	    </div>
	    </div>
	  </div>
   </div>
	  
	
	<div class="row-fluid" id='layer-photos-demo' style="padding:20px 0 40px 0;">
	
            <ul class="thumbnails">
            <volist name="pic" id="var" mod="4" >
              <li class="span3">
                <div class="thumbnail">
                 <a href="/Uploads{$var.path}" rel="prettyPhoto[pp_gal]">
                  <img  src="/Uploads{$var.path}"  style="width: 260px; height: 180px;">
                 </a>
                <div class="caption" style="font-size:10px;">
	                
	                <a class="example" href="javascript:;" data-toggle="popover" data-placement="bottom" data-content='<form style="margin:0px;" class="form-inline"><img  class="img-rounded" style="position:absolute;" src="/Uploads/album/20160509/57302d4d014c4.jpg" width="25" height="25" />&nbsp;<textarea type="text"  style="width:200px;margin:0 8px 0 30px;" class="input-small fast-comment" placeholder="写点什么吧" rows="1"></textarea> <div style="float:right;"> <button type="submit" class="btn">发表</button></div></form>' title="" data-original-title=""><i class="icon-comment"></i></a>100
	                <div class="btn-group hide-div dropdown" >
					  <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">			   
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">			   
	                  <li><a href="#" class='shift-ab' data-pid="{$var.pid}">移动</a></li>
	                  <li><a href="{:U('album/picDetail',array('pid'=>$var['pid'],'aid'=>$album['id']))}" class="more-comment">更多评论</a></li>
	                  <li><a href="{:U('album/picDetail',array('pid'=>$var['pid'],'aid'=>$album['id']))}">编辑</a></li>	                 
	                  <li class="divider"></li>
	                  <li><a href="{:U('album/setFengmian',array('id'=>$var['pid'],'aid'=>$album['id']))}">设置为封面</a></li>
	                  <li><a class="delete-pic" data-pid="{$var.pid}" href="javascript:;">删除</a></li>              
					  </ul>
				 </div>  	                         
					<div style="float:right;">
					<span>{$var.addtime|date='Y-m-d',###}</span>
					</div>             
                </div>
                </div>              
              </li>
              <eq name="mod" value="3">
              </ul><ul class="thumbnails">
              </eq>
             </volist>
     
            </ul>
            
           
          </div>
          
          <div class="comment" style="padding:20px 0px;">
	          <div class='row-fluid'>
		          <div class="span6" style="text-algin:left;"><h4>{$comments_count}条评论，{$canyu}人参与。</h4></div>
		          <div class="span6" style="margin-top:10px;">
		             <div style="float:right;">
		             <i class="fa fa-star fa-lg"></i>
		             </div>
		           </div>

	          </div>
	          
	          <div class='comment-content'>
	             <div style="float:left;width:7%;"><img  class="img-rounded"  src="/Uploads/album/20160509/57302d4d014c4.jpg" width="45" height="45" /></div>
	             <div style="float:right; width:93%;">
	             <input type="hidden" name="albumid" value="{$album.id}" />
	                  <div><textarea type="text" style="width:99%;" class="comment-text" id="comment-text" placeholder="写点什么吧..." rows="5"></textarea></div>                 
	                  <div style='float:left;'><span class="emotion"><i class="fa fa-smile-o fa-lg"></i></span>&nbsp;</div>
	                  <div style="float:right;"><font class='comm'>0</font>/140 &nbsp;<button class="btn btn-primary submit-comment">发表</button></div>
	                  <div style="clear:both;"></div>
	             </div>	             
	             <div style="clear:both;"></div>
	          </div>
	          
	          <div class="dropdown" style="margin:10px 0;border-bottom:1px solid #dedede;">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<if condition = "$commenttype == 'hot'">
				最热评论
				<else/>
				最新评论
				</if>
			        <b class="caret"></b>
			      </a>
			    <ul class="dropdown-menu">
                 <if condition = "$commenttype == 'hot'">
					<li><a href="{:U('album/detail',array('id'=>$album['id']))}">最新评论</a></li>
					<else/>
					<li><a href="{:U('album/detail',array('commenttype'=>'hot','id'=>$album['id']))}">最热评论</a></li>
				  </if>
			    </ul>
			  </div>
			  
	   <div class='comment-body'>
	         <volist name="comments" id="com">
	          <div class='row-fluid' style="padding:10px 0px;border-top: 1px dotted #ccc;">
			    <div style="float:left;width:7%;"><img  class="img-rounded"  src="/Public/Home/images/noone.jpg" width="45" height="45" /></div>
	             <div style="float:right; width:93%;">
	                   <div style=" word-wrap: break-word; word-break: break-all;margin-bottom: 10px;">
	                                         <a href="javascript:;">{$com.username}</a>:{$com.comment|ubbReplace=###}
	                   </div>
	                   <if condition="$com.sub != ''">
	                    <div style="border:1px solid #dedede;border-radius:4px;padding:8px 20px; margin:0px 20px 0 40px;">
	                     <a href="javascript:;">{$com.sub.username}</a>:{$com.sub.comment|ubbReplace=###}
	                   </div>
	                   </if>
                  
	                <div class="shi-dian-hui">
	                   <div style='float:left;'><font style="font-size:5px;color:#aeaeae;">{$com.addtime|date='Y年m月d日',###}</font></div>
	                   <div style="float:right;" class="dian-hui" >
	                     <if condition="$com.add_uid == session('user_auth.uid')" ><a class='delete-hui' style="display:none;" href="javascript:;" data-id="{$com.id}" >删除</a></if>
	                     <a href="javascript:;"  data-id= "{$com.id}" <if condition="$com.isZan == 1"> class="zan quxiao" style="color:red;"<else />class="zan dianzan"</if> ><i class="fa fa-thumbs-o-up">(<span>{$com.zan}</span>)</i></a>|<a href="javascript:;" class="show-huifu" data-target="#demo{$com.id}">回复</a>	                        	                        
	                   </div>
	                   <div style="clear:both;"></div>
	                </div>
	             </div>	
             	   <div id="demo{$com.id}" class="coll comment-content" style="display:none;" >
			        <div style="padding:10px 0; width:80%;float:right;">
			         <form action="{:U('album/addHuifu')}" method="post">
	                  <input type="hidden" name="albumid" value="{$album.id}" />
	                  <input type="hidden" name="commentid" value="{$com.id}" />
	                  <div><textarea type="text" style="width:98%;" name='con' class="comment-text" id="comment-text" placeholder="写点什么吧..." rows="2"></textarea></div>                 
	                  <div style='float:left;'><span class="emotion"><i class="fa fa-smile-o fa-lg"></i></span>&nbsp;</div>
	                  <div style="float:right;"><font class='comm'>0</font>/140 &nbsp;<input type='submit' class="btn btn-primary" value="发表"></div>
	                 
	                  <div style="clear:both;"></div>
	                  </form>
	                 </div>            
	             </div>       
			  </div>

	         </volist>
 
			  
		</div>
			  <div class="pagination pagination-centered">
			  <ul>
			    {$pagebar}
			  </ul>
			</div>
        </div>        
	</div>
	
	<div style="display:none; width:800px;min-height:500px; padding:10px;" class="hide-xiangce">
	<form action="{:U('album/yidong')}" method="post" id="hide-form" >
		<input type="hidden" id="hidden-yidong" name='yidong-pid' />
		<input type="hidden"  name='yidong-aid' />
	</form>

	     <ul style="list-style:none;">	       
	        <volist name="alist" id="al" mod='3'>
	        <li style='' data-aid="{$al.id}">
	        <img data-src="holder.js/300x200" alt="300x200" src="/Uploads{$al.fengmian|default='/none.png'}" style="width:100px;height:100px;">	                 	                 
	        <span>
	        {$al.name}
	        </span>
	       <eq name='mod' value='2' >
	       </eq>
	       </li>
	        </volist>
	     </ul>	       
	    <div style="clear:both;"></div>

	    <button class="btn submit-yidong">移动</button>
	  </div>
	  <script>
	  $(function(){
		  $('.hide-xiangce li').click(function(){
			  $(this).siblings('li').removeClass('xuan');
			  $(this).addClass('xuan');
		  });
		  
		  $('.submit-yidong').click(function(){
				var aid =  $('.xuan').attr('data-aid');
				
				if(aid == ""){
					layer.alert('请选择一个相册');
					return false;
				}
				$('input[name=yidong-aid]').val(aid);
				$('#hide-form').submit();
			  });
		  
	  })
	  </script>
	</div>
	
</block>

<block name="script">

<script src="__STATIC__/prettyPhoto/js/jquery.prettyPhoto.js"></script>
<script src="__STATIC__/bootstrap-dropdown-hover-master/dist/jquery.bootstrap-dropdown-hover.min.js"></script>
<script src="__STATIC__/jQuery-qqFace/js/jquery-browser.js"></script>
<script src="__STATIC__/jQuery-qqFace/js/jquery.qqFace.js"></script>
<script src="__STATIC__/style.js"></script>
<script>
$(function(){
	
	//删除相册
	$('.delete-album').click(function(){
		var aid = $(this).attr('data-aid');
	      layer.confirm('您确定要删除么',function(){
	    	  window.location.href="{:U('album/deletealbum')}?aid="+aid;
	});
	});
	//删除相片
	$('.delete-pic').click(function(){
		var pid = $(this).attr('data-pid');
      layer.confirm('您确定要删除么',function(){
    	  window.location.href="{:U('album/deletepic')}?pid="+pid;
      });

	});
	
	//移动相册
	$('.shift-ab').click(function(){
		var pid = $(this).attr('data-pid');
		$('#hidden-yidong').val(pid);
		//捕获页
		layer.open({
		  area: 'auto',
		  maxWidth:'800px',
		  type: 1,
		  shade: 0.6,
		  title: '选择相册', //不显示标题
		  content: $('.hide-xiangce'), //捕获的元素
		  cancel: function(index){
		    layer.close(index);
		    
		  }
		});
	});
	
	//回复 折叠
	$('.show-huifu').click(function(){
		$(this).parents('.row-fluid').find('.coll').toggle();
	});
	
	//加载更多
	$('.load-more').click(function(){
		var p = $(this).attr('data-page');
		var this_ = $(this);
		var id = "{$album.id}";
		$.get('{:U("Album/loadMoreComment")}',{'p':p,'id':id},function(data){
			$('.comment-body').append(data);
			p = parseInt(p);
			this_.attr('data-page',p+1);
		});
	});
/////////////////////////////////////	
	
	//点击删除回复
	$('.delete-hui').click(function(){
		var this_ = $(this);
		var cid = $(this).attr('data-id');
		layer.confirm('您确定要删除吗',{},function(){
			 
			 $.post('{:U("album/deleteComment")}',{'id':cid},function(data){
				 if(data.status == 1){
					 this_.parents('.row-fluid').remove();
					 layer.msg('删除成功', {icon: 1});
				 }else{
					 layer.alert(data.msg);
				 }
			 },'json');
		});
	});
	
	$('body').on('click','.delete-hui',function(){
		var this_ = $(this);
		var cid = $(this).attr('data-id');
		layer.confirm('您确定要删除吗',{},function(){
			 
			 $.post('{:U("album/deleteComment")}',{'id':cid},function(data){
				 if(data.status == 1){
					 this_.parents('.row-fluid').remove();
					 layer.msg('删除成功', {icon: 1});
				 }else{
					 layer.alert(data.msg);
				 }
			 },'json');
		});
	})
///////////////////////////////////////////////	
	//点赞
	$('.zan').click(function(){
		if($(this).hasClass('dianzan')){
				var this_ = $(this);
				var cid = $(this).attr('data-id');
				$.post('{:U("album/editZan")}',{'id':cid,'type':'dian'},function(data){
					if(data.status == 1){
					    this_.removeClass('dianzan').addClass('quxiao');
					    this_.css('color','red');
					    layer.msg('成功', {icon: 1});
					}else{
						layer.alert(data.msg);
					}
				},'json');
			
		}else if($(this).hasClass('quxiao')){
			var this_ = $(this);
			var cid = $(this).attr('data-id');
			$.post('{:U("album/editZan")}',{'id':cid,'type':'quxiao'},function(data){
				if(data.status == 1){
				    this_.removeClass('quxiao').addClass('dianzan');
				    this_.css('color','');
				    layer.msg('成功', {icon: 1});
				}else{
					layer.alert(data.msg);
				}
			},'json');
		}
	});

	$('body').on('click','.zan',function(){
		if($(this).hasClass('dianzan')){
			var this_ = $(this);
			var cid = $(this).attr('data-id');
			$.post('{:U("album/editZan")}',{'id':cid,'type':'dian'},function(data){
				if(data.status == 1){
				    this_.removeClass('dianzan').addClass('quxiao');
				    this_.css('color','red');
				    layer.msg('成功', {icon: 1});
				}else{
					layer.alert(data.msg);
				}
			},'json');
		
	}else if($(this).hasClass('quxiao')){
		var this_ = $(this);
		var cid = $(this).attr('data-id');
		$.post('{:U("album/editZan")}',{'id':cid,'type':'quxiao'},function(data){
			if(data.status == 1){
			    this_.removeClass('quxiao').addClass('dianzan');
			    this_.css('color','');
			    layer.msg('成功', {icon: 1});
			}else{
				layer.alert(data.msg);
			}
		},'json');
	}
	});

	
////////////////////////////////////////////	
	
	//文本框自动换行
	$('body').on('keyup','.fast-comment',function(){
		var str = $(this).val();
		if(str.length > 20){
			$(this).attr('rows',2);
		}
		if(str.length > 40){
			$(this).attr('rows',3);
		}
		
	});
	
	//发布
	$('.submit-comment').click(function(){
		
		var con = $('.comment-text').val();
		var aid = $('input[name=albumid]').val();

		if(con == ''){
			layer.alert('评论内容不能为空');
			return false;
		}
		if(con.length > 140){
			layer.alert('评论内容长度超过限制');
			return false;
		}
	
           $.post('{:U("album/addComment")}',{'aid':aid,'con':con},function(data){
			if(data.status == 1){
				layer.alert('提交成功',function(){
					window.location.reload();
				});
				
			}else{
				layer.alert(data.msg);
			}
		},'json'); 
		
	});
	
	//表情
	$('.emotion').qqFace({ 
		id : 'facebox',
        assign:'comment-text', //给输入框赋值 
        path:'__STATIC__/jQuery-qqFace/arclist/'    //表情图片存放的路径 
    }); 
	
	
	$("a[rel^='prettyPhoto']").prettyPhoto({
		animation_speed:'fast',
		theme:'facebook',
		social_tools:'',
	});
	
	
	$('body').on('blur','.comment-text',function(){
		$('.example').popover('hide')
	});
	
	$('.example').popover({
		'html':true,
	});
	 
  
});
</script>
</block>