<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>


<block name="side">
<div class="container">
   	<ul class="breadcrumb">
	  <li><a href="{:U('Index/index')}">首页</a> <span class="divider">/</span></li>
	  <li><a href="{:U('Album/index')}">相册</a><span class="divider">/</span></li>
	  <li class="active" >上传照片</li>
	</ul>
</div>
</block>

<block name="style">
<link rel="stylesheet" href="__STATIC__/uploadify/uploadify.css">  
<style>
.bar {
    height: 18px;
    background: green;
}
</style>
</block>

<block name="body">
<div class="span12">

<h4>上传照片</h4>
		<form class="login-form" action="__SELF__" method="post">
		
				<div class="control-group">
		            <label class="control-label" >相册</label>
		            <div class="controls">
		            <empty name="al">
		                <tagLib name="html" />
		                <html:select options="ab" id="album" name="album"  class='span3'  />
		            <else/>
		                <select name="album" id="album"  >
		                <option value="{$al.id}">{$al.name}</option>
		                </select>		                
		            </empty>
		                
		            </div>
		          </div>
		          
				<span>
				<input type="file" name="file_upload" id="file_upload" />
				</span>
               
                <a href="javascript:$('#file_upload').uploadify('upload', '*')" class="btn btn-primary"><i class="icon-upload icon-white"></i>开始上传</a>
                <a href="javascript:$('#file_upload').uploadify('stop')" class="btn btn-warning"><i class="icon-upload icon-white"></i>停止上传</a>
                
               <!--  <a href="javascript:$('#file_upload').uploadify('cancel')" class="btn btn-danger"><i class="icon-remove icon-white"></i>取消首文件</a> -->
                <a href="javascript:$('#file_upload').uploadify('cancel','*')" class="btn btn-danger"><i class="icon-remove icon-white"></i>清除所有</a>
                
				        <div id="progress">
						    <div class="bar" style="width: 0%;"></div>
						</div>
		            </div>
		          </div>
				<p>注意：单张图片文件大小不超过1M</p>
        </form>
</div>
</block>



<block name="script">
<script src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script src="__STATIC__/layer-pc/layer.js"></script>

<script>
$(function () {
	    
	    $("#file_upload").uploadify({
	    	auto:false,
	    	fileObjName:'albumimage',
	    	fileSizeLimit:'1MB',
	    	removeCompleted : false,
	    	buttonText    :'选择文件',
	        swf           : "__STATIC__/uploadify/uploadify.swf",
	        uploader      : '{:U("album/upload")}',
	        onQueueComplete: function(queueData) {
	            layer.alert(queueData.uploadsSuccessful + ' files were successfully uploaded.');
	        },
	        'onUploadStart': function (file) {  
                $("#file_upload").uploadify("settings", "formData", { 'id':  $('#album').val()});  
                //在onUploadStart事件中，也就是上传之前，把参数写好传递到后台。  
            },
	        'onUploadSuccess' : function(file, data, response) {
	        	console.log(data);
	        	var d = eval("("+data+")");
	        	if(d.status == 1){
	        		layer.alert('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + d.msg);
	        	}else{
	        		layer.alert(d.msg);
	        	}
	            
	        }
	        
	    });
});
</script>
</block>